<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - Item event SW</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <h1><a href="/">Item event SW</a></h1>
      <nav>
        <a href="/">Accueil</a>
        <a href="/admin">Ajouter Item, Enchantement</a>
      </nav>
    </div>
  </header>

  <main class="container">
    <%- body %>
  </main>

  <script src="/js/main.js"></script>
</body>
</html>